water    	    1.00   2
                              h  11.111        1
                              o  88.889        8
WALLOY   0.18130e+02   5
                              fe 0.73000e+00  26
                              co 0.10000e+00  27
                              ni 0.14400e+01  28
                              cu 0.55000e+00  29
                              w  0.97180e+02  74
Nb3Sn    0.89010e+01   2
                              nb 0.70127e+02  41
                              sn 0.29873e+02  50
BRONZE   0.88004e+01   2
                              cu 0.91997e+02  29
                              sn 0.80027e+01  50 
R-EPXY   0.19006e+01   9
                              h  0.19046e+01   1
                              c  0.19855e+02   6
                              n  0.25210e+01   7
                              o  0.37815e+02   8
                              mg 0.25275e+01  12 
                              al 0.92645e+01  13
                              si 0.19631e+02  14
                              s  0.14287e+01  16
                              cu 0.50525e+01  29
Inc625   0.84080e+01  14
                              c  0.40055e-01  6
                              al 0.11994e+00  13
                              si 0.18977e+00  14
                              s  0.80441e-02  16
                              ti 0.19021e+00  22
                              cr 0.22189e+02  25
                              mn 0.39942e-01  25
                              fe 0.25597e+01  26
                              co 0.50007e-01  27
                              ni 0.61464e+02  28
                              cu 0.29532e-01  29
                              nb 0.30616e+01  41
                              mo 0.92876e+01  42
                              ta 0.77039e+00  73
b4c      0.24205e+01   2
                              b  0.78261e+02  5
                              c  0.21738e+02  6
